// 弹窗自身样式
.gui-infocard {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  background-color: var(--overlay-background);
  color: var(--overlay-font);
  box-shadow: var(--overlay-shadow);
  text-transform: none;
  width: auto;
  left: 800px;
  top: 80px;
  border-radius: 5px;

  .gui-infocard-header {
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    background-color: var(--overlay-background-darker);
    padding: 2px 14px;
    cursor: move;
    border-bottom: 1px solid var(--overlay-border);
    min-height: 45px;

    .title {
      font-size: 1.08rem;
      font-weight: bold;
      color: var(--overlay-font);
    }

    .close-button {
      margin-left: auto;
      height: 1.08rem;
      cursor: pointer;
      fill: var(--overlay-font);
    }
  }
}

.gui-infocard.active {
  pointer-events: auto;
  visibility: visible;
}
