// 弹窗自身样式
.gui-infocard {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  background-color: var(--ant-color-bg-container);
  color: var(--ant-color-text);
  box-shadow: var(--ant-box-shadow-card);
  text-transform: none;
  width: auto;
  border-radius: calc(var(--ant-border-radius) * 1px);

  .gui-infocard-header {
    border-radius: calc(var(--ant-border-radius) * 1px) calc(var(--ant-border-radius) * 1px) 0 0;
    display: flex;
    align-items: center;
    background-color: var(--ant-color-bg-layout);
    cursor: move;
    border-bottom: 1px solid var(--ant-color-border);
    min-height: var(--ant-control-height);
    padding: calc(var(--ant-padding-content-vertical) * 1px) calc(var(--ant-padding-content-horizontal) * 1px);

    .title {
      font-weight: var(--ant-font-weight-strong);
      color: var(--ant-color-text);
    }

    .close-button {
      margin-left: auto;
      cursor: pointer;
      color: var(--ant-color-text);
    }
  }

  .gui-infocard-header.small {
    padding: calc(var(--ant-padding-content-vertical-s-m) * 1px) calc(var(--ant-padding-content-horizontal-s-m) * 1px);
  }
}

.gui-infocard.active {
  pointer-events: auto;
  visibility: visible;
}

@import "./ext-animation";
