// 弹窗自身样式
.gui-infocard {
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  background-color: var(--ant-color-bg-container);
  color: var(--ant-color-text);
  box-shadow: var(--ant-box-shadow-card);
  width: auto;
  left: 800px;
  top: 80px;
  border-radius: calc(var(--ant-border-radius) * 1px);

  .gui-infocard-header {
    border-radius: calc(var(--ant-border-radius) * 1px) calc(var(--ant-border-radius) * 1px) 0 0;
    display: flex;
    align-items: center;
    background-color: var(--ant-color-bg-layout);
    padding: 8px 12px;
    cursor: move;
    border-bottom: 1px solid var(--ant-color-border);
    min-height: var(--ant-control-height);

    .title {
      font-weight: var(--ant-font-weight-strong);
      color: var(--ant-color-text);
    }

    .close-button {
      margin-left: auto;
      cursor: pointer;
      color: var(--ant-color-text);
    }
  }
}

.gui-infocard.active {
  pointer-events: auto;
  visibility: visible;
}
