.gui-infocard-hover {
  position: absolute;
  color: var(--ant-color-white);
  background-color: var(--ant-color-bg-mask);
  box-shadow: var(--ant-box-shadow-secondary);
  border-radius: calc(var(--ant-border-radius) * 1px);
  font-weight: bold;
}
