html {
  font-size: 14px;
  line-height: 18px;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #33333388;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #cccccc;
    border-radius: 10px;
  }
}

#gui-container {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #gui-mask {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 998;
  }

  #gui-mask.active {
    display: block;
  }

  #gui-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    // background-color: #afeaff44;
    background-image: url(/v2/onmap/sea.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    animation: wave 30s ease-in-out infinite;
    @keyframes wave {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scaleY(1.1);
      }
      to {
        transform: scale(1);
      }
    }
  }

  #gui-viewport {
    width: 100%;
    height: 100%;
  }

  #gui-header {
    transform: translateY(0%);
    transition: transform 0.3s;
  }

  #gui-mode-switch {
    position: absolute;
    top: 110px;
    left: 20px;
    transition: left 0.3s;

    .ant-switch {
      background-color: var(--ui-font);
      .ant-switch-handle::before {
        background-color: var(--ui-background);
      }
    }

    .ant-switch.ant-switch-checked {
      background-color: var(--ui-background);
      .ant-switch-handle::before {
        background-color: var(--ui-font);
      }
    }

    .ant-switch {
      .ant-switch-inner-checked {
        color: var(--ui-font);
      }
      .ant-switch-inner-unchecked {
        color: var(--ui-background);
      }
    }
  }

  #gui-footer {
    transition: transform 0.3s;
  }

  #gui-sider-left {
    pointer-events: none;
    width: 30%;
    height: calc(100% - 90px);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }

  #gui-sider-right {
    pointer-events: none;
    width: 30%;
    height: calc(100% - 90px);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s;
  }
}

#gui-container[mode="1"] {
  #gui-header {
    .searcher {
      display: none;
    }
  }

  #gui-mode-switch {
    left: calc(30% + 10px);
  }

  #gui-functional-controls {
    display: none;
  }

  #gui-layer-controls {
    display: none;
  }

  #gui-status-tables {
    display: none;
  }

  #gui-footer {
    transform: translateY(100%);
  }

  #gui-sider-left {
    transform: translateX(0%);
  }

  #gui-sider-right {
    transform: translateX(0%);
  }
}
