html {
  font-size: var(--ant-font-size);
  line-height: var(--ant-line-height);

  ::-webkit-scrollbar {
    width: calc(var(--ant-border-radius) * 1px);
    height: calc(var(--ant-border-radius) * 1px);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--ant-color-border);
    border-radius: calc(var(--ant-border-radius) * 1px);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--ant-color-border-secondary);
    border-radius: calc(var(--ant-border-radius) * 1px);
  }
}

#gui-container {
  position: relative;
  user-select: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  #gui-mask {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--ant-color-bg-mask);
    z-index: 998;
  }

  #gui-mask.active {
    display: block;
  }

  #gui-viewport {
    width: 100%;
    height: 100%;
  }
}
