:root {
  --ui-font: #ffffff;
  --ui-primary-font: #a9cdff;
  --ui-background: #004898;
  --ui-background-darker: #053b77;
  --ui-shadow: 2px 5px 6px rgba(0, 72, 152, 0.6), 2px 5px 12px rgba(0, 72, 152, 0.3), 2px 20px rgba(0, 72, 152, 0.1);

  --overlay-background: #ffffff;
  --overlay-background-darker: #efefef;
  --overlay-primary-color: #006aff;
  --overlay-primary-font: #1677ff;
  --overlay-color: #333333;
  --overlay-font: #333333;
  --overlay-border: #e7e7e7;
  --overlay-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4), 0px 0px 24px rgba(0, 0, 0, 0.3), 0px 0px 36px rgba(0, 0, 0, 0.1);
  --overlay-shadow-bottom: 0px 4px 8px rgba(0, 0, 0, 0.4), 0px 8px 24px rgba(0, 0, 0, 0.3);
  --overlay-shadow-top: 0px -4px 8px rgba(0, 0, 0, 0.4), 0px -8px 24px rgba(0, 0, 0, 0.3);
}
