.gui-infocard:has(.hostory-replay-page) {
  top: 10px;
  left: 50% !important;
  transform: translateX(-50%) translateY(-20px) !important;
}
.gui-infocard.active:has(.hostory-replay-page) {
  transform: translateX(-50%) translateY(0px) !important;
}

.hostory-replay-page {
  width: 1000px;

  .hostory-replay-page-container {
    padding: calc(var(--ant-padding-content-vertical) * 1px) calc(var(--ant-padding-content-horizontal) * 1px);

    .tool-box {
      margin-bottom: calc(var(--ant-margin) * 1px);
      align-content: center;
      display: flex;
      align-items: center;
      position: relative;
      font-size: calc(var(--ant-font-size) * 1px);

      .ant-btn {
        margin-right: calc(var(--ant-margin) * 1px);
      }
      .ant-select {
        margin-right: calc(var(--ant-margin) * 1px);
      }
      .ant-picker {
        margin-right: calc(var(--ant-margin) * 1px);
      }
    }

    .tool-box:nth-child(1) {
      .status {
        .error {
          color: var(--ant-color-error);
        }
        .warn {
          color: var(--ant-color-warning);
        }
        .success {
          color: var(--ant-color-success);
        }
      }
    }

    .slider {
      position: relative;

      .ant-slider {
        // 给mark添加一个默认宽度, 不让文字换行
        .ant-slider-mark {
          .ant-slider-mark-text {
            width: 108px;
            white-space: nowrap;
          }
        }
      }

      // 自定义hover tooltip样式
      .tooltip-add {
        font-family: var(--ant-font-family);
        position: absolute;
        top: calc(var(--ant-control-height) * -1px - 8px);
        left: 0px;
        transform: translateX(-50%);

        padding: 6px 8px;
        min-width: 108px;
        color: var(--ant-color-white);
        text-align: start;
        text-decoration: none;
        background-color: var(--ant-color-bg-spotlight);
        border-radius: calc(var(--ant-border-radius) * 1px);
        box-shadow: var(--ant-box-shadow-secondary);
        white-space: nowrap;
      }

      .tooltip-add::after {
        position: absolute;
        bottom: 0;
        width: 16px;
        height: 8px;
        background-color: var(--ant-color-bg-spotlight);
        transform: rotate(180deg) translateX(48px) translateY(-8px);
        clip-path: path("M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z");
        content: "";
      }
    }
  }
}

.gui-infocard.small {
  .hostory-replay-page-container {
    padding: calc(var(--ant-padding-content-vertical-s-m) * 1px) calc(var(--ant-padding-content-horizontal-s-m) * 1px);
  }

  .tool-box {
    margin-bottom: calc(var(--ant-margin-s-m) * 1px);

    .ant-btn {
      margin-right: calc(var(--ant-margin-s-m) * 1px);
    }
    .ant-select {
      margin-right: calc(var(--ant-margin-s-m) * 1px);
    }
    .ant-picker {
      margin-right: calc(var(--ant-margin-s-m) * 1px);
    }
  }
}

.gui-infocard.large {
  .hostory-replay-page-container {
    padding: calc(var(--ant-padding-content-vertical-l-g) * 1px) calc(var(--ant-padding-content-horizontal-l-g) * 1px);
  }

  .tool-box {
    margin-bottom: calc(var(--ant-margin-l-g) * 1px);

    .ant-btn {
      margin-right: calc(var(--ant-margin-l-g) * 1px);
    }
    .ant-select {
      margin-right: calc(var(--ant-margin-l-g) * 1px);
    }
    .ant-picker {
      margin-right: calc(var(--ant-margin-l-g) * 1px);
    }
  }
}
