#gui-container {
  #gui-header {
    .header-right {
      .tools {
        .history-replay {
          cursor: pointer;
          margin-right: 12px;
          svg {
            fill: var(--ui-font);
            width: 25px;
            height: 25px;
          }
        }

        .history-replay:hover {
          svg {
            fill: var(--ui-primary-font) !important;
          }
        }
      }
    }
  }
}
